/* Slider */

$slider_color: white;
$barlevel_bg_color: rgba(white, 0.1);
$barlevel_active_bg_color: white;
$slider_size: 8px;

.slider {
  height: $slider_size * 2;
  color: transparent;
  border-radius: $slider_size;

  -slider-handle-radius: $slider_size;

  // barlevels are for >= 3.29.90
  -barlevel-height: $slider_size;
  -barlevel-background-color: $barlevel_bg_color;
  -barlevel-active-background-color: $barlevel_active_bg_color;
  -barlevel-overdrive-color: $destructive_color;
  -barlevel-overdrive-separator-width: 1px;

  &:hover {
    color: $slider_color;
    -barlevel-active-background-color: rgba($barlevel_active_bg_color, 0.5);
    transition: all 0.2s ease-in-out;
  }
}
