/* Header bar's URL bar */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Center the URL bar */
toolbarspring {
	max-width: 10000px !important;
}

/* URL bar */
#urlbar {
	--urlbar-height: 36px !important;
	--urlbar-container-height: 36px !important;
	--urlbar-toolbar-height: 36px !important;
	--urlbar-inner-padding: 0 !important;
	--urlbar-box-hover-bgcolor: var(--gnome-headerbar-button-hover-background) !important;
	--urlbar-box-active-bgcolor: var(--gnome-headerbar-button-active-background) !important;
	box-shadow: none !important;
	border: none !important;
	padding: 0 !important;
	padding-block: 0 !important;
	padding-inline: 0 !important;
}

#urlbar-background {
	box-shadow: none !important;
	border: none !important;
	background: transparent !important;
	border-radius: 8px !important;
	padding: 0 !important;
}

#urlbar-input-container,
.urlbar-input-container {
	border: none !important;
	padding: 0 3px !important;
	background: none !important;
}

#urlbar:-moz-window-inactive {
	border-color: var(--gnome-inactive-headerbar-background) !important;
}

#urlbar[breakout][breakout-extend] {
	width: var(--urlbar-width) !important;
	z-index: 5 !important;
	padding: 0 !important;
	border-radius: 999px !important;
	outline: 2px solid var(--gnome-focused-urlbar-border-color) !important;
	outline-offset: -2px;
	-moz-outline-radius: 999px;
	transition: outline 100ms ease-out;
}

#urlbar[breakout][breakout-extend][open] {
	height: auto !important;
	max-height: unset !important;
}

#urlbar[breakout][breakout-extend] #urlbar-input-container,
#urlbar[breakout][breakout-extend] > .urlbar-input-container {
	height: 36px !important;
	max-height: 36px !important;
}

#urlbar-input {
	text-align: center !important;
	padding: 0 28px 0 0 !important;
}

/* URL bar results */
.urlbarView {
	background: var(--gnome-popover-background) !important;
	color: var(--gnome-toolbar-color) !important;
	margin: 6px 0 0 0 !important;
	width: 100% !important;
	position: absolute !important;
	box-shadow: var(--gnome-urlbar-box-shadow) !important;
	border-radius: 16px !important;
	border: 0 !important;
}

@media (prefers-color-scheme: dark) {
	.urlbarView {
		border: 1px solid rgba(255, 255, 255, 0.1) !important;
	}
}

.urlbarView-body-outer {
	--item-padding-start: 0 !important;
	--item-padding-end: 0 !important;
	max-height: 40vh !important;
	overflow-x: auto;
	padding: 0 6px !important;
}

.urlbarView-body-inner {
	border: 0 !important;
}

.urlbarView-row-inner, .urlbarView-no-wrap {
	align-items: center !important;
}

.urlbarView-row-inner {
	padding-block: 6px !important;
	border-radius: 10px !important;
}

.urlbarView-row {
  border: none !important;
  border-radius: 10px !important;

  &[row-selectable]:not([selected]):hover {
    background-color: var(--gnome-button-hover-color) !important;
  }

  &[selected] {
    background-color: var(--gnome-button-active-color) !important;
  }
}

.urlbarView-action {
	background: transparent !important;
}

/* Search engines buttons */
.search-one-offs {
	margin: 0 0 2px !important;
	padding: 8px !important;
	background: var(--gnome-popover-background) !important;
	border-top: 1px solid var(--gnome-toolbar-border-color) !important;
	border-radius: 0 0 8px 8px !important;
}

.searchbar-engine-one-off-item {
	--toolbarbutton-active-background: var(--gnome-button-hover-background) !important;
	--toolbarbutton-hover-background: var(--gnome-button-active-background) !important;
	-moz-appearance: none !important;
	background-image: var(--gnome-button-background) !important;
	box-shadow: var(--gnome-button-box-shadow) !important;
	border: 1px solid var(--gnome-button-border-color) !important;
	border-left-width: 0 !important;
	border-bottom-color: var(--gnome-button-border-bottom-color) !important;
	padding: 0 2px !important;
	min-height: 34px !important;
	min-width: 34px !important;
	margin: 0 !important;
	border-radius: 0 !important;
}

.searchbar-engine-one-off-item:hover, .searchbar-engine-one-off-item[selected] {
	background-image: var(--gnome-button-hover-background) !important;
	color: unset !important;
}

.searchbar-engine-one-off-item:first-child {
	border-radius: 5px 0 0 5px !important;
	border-left-width: 1px !important;
}

.searchbar-engine-one-off-item.last-engine, .searchbar-engine-one-off-item:not(.search-setting-button):last-child {
	border-radius: 0 5px 5px 0 !important;
}

#urlbar-anon-search-settings-compact,
.search-setting-button {
	border-left-width: 1px !important;
	border-bottom: 1px solid var(--gnome-button-border-bottom-color) !important;
	border-radius: 5px !important;
	margin-left: 6px !important;
}

/* URL bar and Search bar */
#urlbar[focused] .urlbar-textbox-container {
	margin: -1px !important;
}

#searchbar > .searchbar-textbox[focused] .searchbar-search-button {
	margin-left: -1px !important;
}

#searchbar > .searchbar-textbox[focused] .search-go-button {
	margin-right: -1px !important;
}

/* URL bar and Search bar's icons */
.urlbar-icon-wrapper:hover,
.urlbar-icon-wrapper[open],
.urlbar-icon:hover:active,
.urlbar-icon-wrapper:hover:active,
.searchbar-search-button:hover .searchbar-search-icon,
.searchbar-search-button[open] .searchbar-search-icon,
.searchbar-search-button:hover:active .searchbar-search-icon {
	background-color: transparent !important;
	fill-opacity: 1 !important;
}

#notification-popup-box {
	height: 30px !important;
	width: 30px !important;
	padding: 7px !important;
	border-radius: 999px !important;
}

.notification-anchor-icon {
	padding: 0 !important;
}

.urlbar-page-action,
.urlbar-revert-button,
#urlbar-go-button,
.urlbar-go-button,
.search-go-button,
.identity-box-button,
#tracking-protection-icon-container {
	min-width: 30px !important;
	min-height: 30px !important;
	margin: 3px 3px 3px 0 !important;
	padding: 7px !important;
	border-radius: 999px !important;
}

#identity-icon-box.identity-box-button {
  max-width: calc(30px + 13em) !important;
}

.urlbar-revert-button,
#star-button-box {
	margin-right: 0 !important;
}

#tracking-protection-icon-container:hover,
.urlbar-page-action:hover,
.urlbar-revert-button:hover,
#urlbar-go-button:hover,
.urlbar-go-button:hover,
.search-go-button:hover,
.identity-box-button:hover {
	background: var(--gnome-headerbar-button-hover-background) !important;
}

#tracking-protection-icon-container:active,
.urlbar-page-action:active,
.urlbar-revert-button:active,
#urlbar-go-button:active,
.urlbar-go-button:active,
.search-go-button:active,
.identity-box-button:active {
	background: var(--gnome-headerbar-button-active-background) !important;
}

#tracking-protection-icon-container[open="true"],
.urlbar-page-action[open="true"],
.urlbar-revert-button[open="true"],
#urlbar-go-button[open="true"],
.urlbar-go-button[open="true"],
.search-go-button[open="true"],
.identity-box-button[open="true"] {
	background: var(--gnome-headerbar-button-checked-background) !important;
}

/* Search mode indicator */
#nav-bar #urlbar toolbarbutton#urlbar-searchmode-switcher:not(#urlbar-zoom-button):not(.subviewbutton):not(.titlebar-button):not(.close-button) {
	appearance: none;
	border-radius: 999px !important;
	margin-top: 3px !important;
	margin-bottom: 3px !important;
	margin-inline-start: 0 !important;
	margin-inline-end: var(--urlbar-searchmodeswitcher-margin-inline-end);
	padding-inline: var(--urlbar-searchmodeswitcher-inline-padding);
	min-width: 50px !important;
	min-height: 30px !important;
	box-shadow: none !important;

  &.close-button {
	  margin-left: 6px !important;
  }

  &:focus-visible {
	  outline: var(--focus-outline);
	  outline-offset: var(--focus-outline-inset);
  }

  &[open] {
	  background-color: var(--urlbar-box-focus-bgcolor) !important;
  }

  /* No need space if page information icons such as lock and shield is shown */
  #urlbar[pageproxystate=valid] & {
	  margin-inline-end: 0;
  }

  #urlbar[searchmode] & {
	  background-color: var(--gnome-headerbar-button-hover-background) !important;
  	margin-inline-end: 0 !important;
  	border-start-end-radius: 0 !important;
  	border-end-end-radius: 0 !important;
	  min-width: 32px !important;
  }

  /* The background rule should match to #searchmode-switcher-chicklet */
  #urlbar[focused] & {
  	background-color: var(--gnome-headerbar-button-hover-background) !important;
  }

  /* stylelint-disable media-query-no-invalid */
  @media (not -moz-pref("browser.urlbar.searchModeSwitcher.featureGate")) and
         (not -moz-pref("browser.urlbar.scotchBonnet.enableOverride")) {
	  display: none;
  }
}

#searchmode-switcher-chicklet {
	background-color: var(--gnome-headerbar-button-combined-background) !important;
	border-start-end-radius: 999px !important;
	border-end-end-radius: 999px !important;
	align-items: center;
	height: 30px !important;
	margin-inline-end: var(--urlbar-searchmodeswitcher-margin-inline-end);
	display: none;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 6px;
}

#searchmode-switcher-chicklet:-moz-window-inactive {
	background: none !important;
}

#urlbar-search-mode-indicator-close, #searchmode-switcher-close {
	margin-left: 6px !important;
	border-radius: 999px !important;
}
#urlbar-search-mode-indicator-close {
	background-size: 12px 12px !important;
	opacity: 0.8 !important;
	fill: var(--gnome-toolbar-color) !important;
}

#urlbar-search-mode-indicator,
#urlbar-label-box {
	background: var(--gnome-headerbar-button-hover-background) !important;
	border: none !important;
	border-radius: 999px !important;
	outline: 0 !important;
	margin-top: 3px !important;
	margin-bottom: 3px !important;
}
#urlbar-search-mode-indicator-title {
	padding-inline: 4px !important;
}

/*translations-button*/
#translations-button[translationsactive] > #translations-button-icon {
  fill: var(--theme-primary-active-color) !important;
  fill-opacity: 1;
}

#translations-button-circle-arrows {
  height: 16px;
  width: 16px;
  list-style-image: url("chrome://browser/skin/sync.svg");
  fill: var(--theme-primary-active-color) !important;
  fill-opacity: 1;
  margin-inline: 1px;
}

#translations-button-locale {
  background-color: var(--theme-primary-active-color) !important;
  color: white !important;
  border-radius: 4px;
  font-size: 0.8em;
  height: 20px;
  min-width: 20px;
  text-align: center;
  padding-top: 3px;
  padding-inline: 1px;
  box-sizing: border-box;
  margin-inline: 2px -2px;
  margin-block: -2px;
}

#translations-button[translationsactive="true"] {
  width: auto !important;
}
